<form name="email-signup" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="email-signup-form">
  <input type="hidden" name="form-name" value="email-signup" />
  <p style="display: none;">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </p>
  
  <div class="email-form-group">
    <label for="email-signup">Get notified of jams and events.</label>
    <input type="email" id="email-signup" name="email" required placeholder="Enter your email" />
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>

